body {
    background-image: url(pnk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgb(163, 10, 107);
    text-align: center;
    font-size: 3.0em;
    color: white;
    font-variant: small-caps;
    margin: 0px 200px 25px 200px;
    text-shadow: 3px 3px 2px black;
}

.common {
    font-weight: bolder;
    font-size: 1.25em;
}

table {
    border: 2px solid rgb(255, 0, 123);
    text-align: center;
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    font-size: 1.5em;
}

tr {
    height: 650px;
}
td {
    border: 1px solid rgb(255, 0, 123); 
    padding: 50px; 
}

p {
    color: rgb(107, 47, 75);
}
p::first-letter {font-size: 3em; color: rgb(156, 16, 77);}

#c1 img {
    border-radius: 100px;
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
    padding: 10px;
    width: 365px;
    height: 400px;
}

#c1 img:hover {transform:scale(1.2);}

ol {
    list-style-type: upper-roman;
    margin: 25px;
    text-align: center;

    

}

ol a {
color: rgb(255, 246, 246);
border: 1px solid rgb(180, 7, 125), ;
background-color: rgb(123, 14, 98)
}

#c2 {
    background-color: rgba(213, 123, 198, 0.25);
}

#c2 a {
    color: rgb(236, 175, 237);
    font-size: 35px;
    background-color: rgb(82, 2, 82);
}

#c2 img {
    height: 300px;
}

#c3 {
    font-family: 'Courier New', Courier, monospace;
    font: 40px bold;
    background-color: rgb(254, 230, 238);
}


